# Flask
SECRET_KEY=your-secret-key-here
FLASK_APP=run.py
FLASK_ENV=development

# Database
DATABASE_URL=postgresql://uploadmanager:uploadmanager0.0.1.1@localhost:5432/document_system

# File Storage
UPLOAD_FOLDER=uploads
USE_GOOGLE_DRIVE=True
GOOGLE_DRIVE_CREDENTIALS=service-account.json
GOOGLE_DRIVE_FOLDER_ID=your_folder_id_here  # Optional: Specific folder for uploads

# Email Configuration
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-specific-password
